# =========================
# FITTRACK
# =========================


# -------------------------
# BACKEND - JAVA / MAVEN
# -------------------------

backend/target/

*.class
*.jar
*.war
*.ear

.mvn/timing.properties


# -------------------------
# ARCHIVOS PRIVADOS BACKEND
# -------------------------

test-api.http

.env
.env.*
!.env.example


# -------------------------
# FRONTEND / MOBILE
# -------------------------

frontend/node_modules/
mobile/node_modules/

frontend/dist/
mobile/dist/

frontend/.expo/
mobile/.expo/

.expo/


# -------------------------
# NODE
# -------------------------

node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# -------------------------
# VS CODE
# -------------------------

.vscode/


# -------------------------
# INTELLIJ
# -------------------------

.idea/
*.iml


# -------------------------
# SISTEMA OPERATIVO
# -------------------------

.DS_Store
Thumbs.db


# -------------------------
# ARCHIVOS TEMPORALES
# -------------------------

*.tmp
*.temp
*.log


# -------------------------
# CREDENCIALES / SECRETOS
# -------------------------

*.env
*.secret
*.secrets